# Requires Python 3.11.9

# Работа с данными
pandas
numpy

# Визуализация графиков
matplotlib
seaborn

# Machine Learning
scikit-learn
lightgbm
xgboost
joblib

# Базы данных
sqlalchemy
psycopg2-binary

# API для инференса (FastAPI)
redis
fastapi
uvicorn

# Streaming (Kafka)
kafka-python

# Утилиты
httpx
pydantic
python-dotenv